<div class="phb__columns">
  <blockquote>
    <h2><%= @person.name %></h2>
    <h5>of <%= link_to @person.town.name, @person.town %></h5>
    <p><em>Level <%= @person.level %> <%= @person.race %> <%= @person.occupation %>, aged <%= @person.age %></em></p>
    <hr>
    <ul>
      <li><strong>Hit Points</strong> <%= @person.hit_points %> (<%= @person.level %><%= Occupation.hit_die_for(@person.occupation).to_s %><%= (Modifier.for(@person.constitution) * @person.level).to_s %>)</li>
    </ul>
  </blockquote>

  <h3>Ability Scores</h3>
  
  <table>
    <thead>
      <tr>
        <td>Str</td>
        <td>Dex</td>
        <td>Con</td>
        <td>Int</td>
        <td>Wis</td>
        <td>Cha</td>
      </tr>
    </thead>
    <tbody>
        <td><%= @person.strength %> (<%= Modifier.for(@person.strength).to_s %>)</td>
        <td><%= @person.dexterity %> (<%= Modifier.for(@person.dexterity).to_s %>)</td>
        <td><%= @person.constitution %> (<%= Modifier.for(@person.constitution).to_s %>)</td>
        <td><%= @person.intelligence %> (<%= Modifier.for(@person.intelligence).to_s %>)</td>
        <td><%= @person.wisdom %> (<%= Modifier.for(@person.wisdom).to_s %>)</td>
        <td><%= @person.charisma %> (<%= Modifier.for(@person.charisma).to_s %>)</td>
    </tbody>
  </table>

  <h3>Job</h3>

  <% if @person.establishment.nil? %>
    <p>Unemployed.</p>
  <% else %>
    <p><%= @person.job_title %> at <%= @person.establishment.name %>.</p>

    <% if @person.colleagues.any? %>
    <h4>Colleagues</h4>
    <ul>
      <%= render @person.colleagues, job_titles: true %>
    </ul>
    <% end %>
  <% end %>

  <pre></pre>

  <h3>Relations</h3>

  <% if @person.relations.any? %>
  <ul>
    <% @person.relations.each do |relation| %>
    <li>
      <%= link_to relation.name, town_person_path(relation.town, relation) %>
    </li>
    <% end %>
  </ul>
  <% else %>
  No relations.
  <% end %>
</div>
