<div>
  <h1>Town Generator</h1>

  <h5>Make a new town</h5>

  <%= form_for @town do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :size %>
    <%= f.select :size, Town::SIZES %>

    <%= f.submit %>
  <% end %>

  <% if @towns.any? %>
    <h2>Pre-generated towns</h2>

      <% @towns.each do |size, towns| %>
        <h3><%= size.pluralize %></h3>
        <ul>
          <% towns.each do |town| %>
          <li><%=link_to town.name, town_path(town) %></li>
          <% end %>
        </ul>
      <% end %>

  <% end %>
</div>