<div>
  <h1>Town Generator</h1>

  <h5>Make a new town</h5>

  <%= form_for @town do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :size %>
    <%= f.select :size, ["Hamlet", "Village", "Small Town", "Large Town", "Small City", "Large City", "Metropolis"] %>

    <%= f.submit %>
  <% end %>

  <% if @towns.any? %>
    <h5>Check out a pre-generated town</h5>

    <ul>
      <% @towns.each do |town| %>
      <li><%=link_to town.name, town_path(town) %></li>
      <% end %>
    </ul>

  <% end %>
</div>