<h1><%= @town.name %></h1>

<h5><%= @town.size %></h5>

<% if @town.has_guard? %>
<p><%= link_to "Show town guard", town_people_path(@town, "occupation": ["Warrior", "Fighter"]) %></p>
<% else %>
<p><%= @town.name %> has no guard!</p>
<% end %>

<ul>
<%= render @town.people %>
</ul>